link(href="banner.css" rel="stylesheet") 
div#Header
    div#HeaderText
        b Ionsto
    div#LinkBox
        a(href="index.html")
            span(class="HeaderButton") Home
        a(href="Programming.html")
            span(class="HeaderButton") Programming
        a(href="CounterStrike.html")
            span(class="HeaderButton") Counter Strike
        a(href="About.html")
            span(class="HeaderButton") About