doctype html
html(lang="en")
    head
        title Ionsto 
        link(href="index.css" rel="stylesheet") 
    body
        include banner.pug
        div#ContentBody
            p I like to play CS:GO in my spare time.
            p Currently a player for Durham University in the NSE and NUEL leagues
            p Previously played AWP for team Eccentric
            br
            p Faceit level 10
            <a href="https://www.faceit.com/en/players/Ionsto">Faceit account</a>
            br
            p Check my <a href="https://www.youtube.com/channel/UCHXhqAKze-7wPB-_FlIN2ww">Youtube</a> for clips and <a href="https://www.twitch.tv/ionsto/">Twitch</a> for streams.
            br
            iframe(width="560" height="315" src="https://www.youtube-nocookie.com/embed/P019AksS-bY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
            


