doctype html
html(lang="en")
    head
        title Ionsto 
        link(href="index.css" rel="stylesheet") 
    body
        include banner.pug
        div#ContentBody
            text.
                Hi I'm Sam.
                This site shows off the things that I do online - some of it is interesting.



